@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
.bannerBg{
  background: url('../public/bnnar/bg.jpg') no-repeat center;
}

.heading{
  @apply font-Darker font-semibold text-[50px] text-black capitalize leading-[100%]
}

.footerBg{
  background: url("../public/Footer.png") no-repeat ;
  background-position: bottom;
  height: 620px;
}

.freeTrial{
  background: url("../public/CTA.png") no-repeat ;
  background-position: bottom;
  
}